<div class="block" id="stats">
  <h2>Server Status</h2>
  <p v-if="loading"></p>
  <ul class="list-unstyled" v-if="!loading">
    <li v-for="stat in stats">
      <span>${stat.name}: ${stat.value}</span>
    </li>
  </ul>
</div>